<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1001 Movies Progress</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    
</head>
<body class="bg-light">
        <div class="jumbotron">
        </div>
        <div class="container">
            <div class="row">
                {% for movie in movies %}
                <a name="{{ movie.title_id }}">
                <div class="col-4 d-flex">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header {% if movie.seen %}bg-dark text-white{% else %}bg-primary text-white{% endif %}">
                            <h5>{{movie.title}} ({{movie.year}})</h5>
                        </div>
                        <div class="card-body {% if movie.seen %}bg-dark text-white{% else %}bg-primary text-white{% endif %}">
                            <div class="row">
                                <div class="col-6">
                                    <!-- <img src="{{url_for('static', filename = 'images/tt0000417.jpg')}}"> -->
                                    <img src="/static/images/{{movie.title_id}}.jpg">
                                </div>
                                <div class="col-6">
                                    <h6 class="card-title">Director: {{movie.director}}</h6>
                                    <p>{{movie.summary}}</p>
                                    <span><small>Starring: {{ movie.stars|join(', ') }}</small></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer {% if movie.seen %}bg-dark text-white{% else %}bg-primary text-white{% endif %}">
                            <a href="{% if movie.seen %}/markunseen/{{movie.title_id}}{% else %}/markseen/{{movie.title_id}}{% endif %}" type="button" class="btn btn-block {% if movie.seen%}bg-secondary text-white seen{% else %}bg-light text-black not-seen{% endif %}">
                                {% if movie.seen %}Mark Unseen{% else %}Mark Seen{% endif %}
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</body>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js" integrity="sha384-lZmvU/TzxoIQIOD9yQDEpvxp6wEU32Fy0ckUgOH4EIlMOCdR823rg4+3gWRwnX1M" crossorigin="anonymous"></script>
</html>